<section
  class="items-center lg:flex bg-blue-100 lg:h-screen font-poppins section-history"
>
  <div
    class="justify-center flex-1 max-w-6xl px-4 py-4 mx-auto lg:py-8 md:px-6"
  >
    <div class="overflow-x-auto rounded shadow bg-white">
      <h1 class="text-sm text-blue-300 mb-6 text-center pt-6 heading-history">
        History email sent
      </h1>
      <table class="w-full table-auto">
        <thead class="bg-lightGray-50">
          <tr class="text-xs text-left text-gray-500 border-b border-gray-200">
            <th class="flex items-center py-4 pl-6 font-medium name-column">
              <input class="mr-4" type="checkbox" name="" id="" />
              <span class="ml-4">Email To</span>
            </th>
            <th class="px-6 py-4 font-medium">Subject</th>
            <th class="py-4 font-medium">Status</th>
            <th class="px-6 py-4 font-medium">Time Sent</th>
          </tr>
        </thead>
        <tbody>
          <% emails.forEach(item => { %>
          <tr class="border-b border-gray-200">
            <td class="flex items-center px-6 py-3 font-medium">
              <input class="mr-4" type="checkbox" name="" id="" />
              <div class="flex">
                <div>
                  <p class="text-sm font-medium"><%= item?.email_to %></p>
                </div>
              </div>
            </td>
            <td class="px-6 text-sm font-medium hover:text-blue-400"><a href="/send-email/history/<%= item.id %>">
              <%= item?.subject %>
            </a></td>
            <td class="px-6 text-sm font-medium status-true <%= item?.status === true ? "status-seen" : "status-true" %>">
              <%= item?.status === true ? "Seen" : "Sent" %>
            </td>
            <td class="px-6 text-sm font-medium">
              <%= moment(item?.sent_time).format('MMMM Do YYYY, h:mm:ss a') %>
            </td>
            <td class="px-6 text-sm font-medium">
              <a
                class="font-medium text-blue-600 hover:underline view-detail"
                href="/send-email/history/<%= item.id %>"
                >View detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <div class="px-6 py-5 text-right flex justify-between">
        <!-- Pagination -->
        <div class="custom-paginate">
          <div class="justify-center flex-1 py-6 mx-auto lg:py-4">
            <div class="flex justify-center">
              <ul class="flex items-center space-x-1 paginate-container">
                <li>
                  <% if (page > 1) { %>
                  <a
                    href="?page=<%= +page-1 %>"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 rounded hover:text-blue-500"
                  >
                    <span class="sr-only">Previous</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="w-5 h-5 mr-2 bi bi-arrow-left"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                      /></svg
                    >Previous
                  </a>
                  <% } %>
                </li>

                <% for( let index = 1; index <= totalPage; index++ ) { %>
                  <li>
                    <a
                      href="?page=<%= index %>"
                      class="px-4 py-2 text-blue-600 border border-blue-600 rounded bg-blue-50 hover:text-white <%= page == index ? "active" : "" %>"
                    >
                      <%= index %>
                    </a>
                  </li>
                <% } %>
              <% if (+page < +totalPage) { %>
                <li>
                  <a
                    href="?page=<%= +page+1 %>"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white rounded hover:bg-gray-100"
                  >
                    <span class="sr-only">Next</span>
                    Next
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="w-5 h-5 ml-2 bi bi-arrow-right"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                      />
                    </svg>
                  </a>
                </li>
              <% } %>
                
              </ul>
            </div>
          </div>
        </div>

        <a
          class="inline-flex items-center text-xs font-medium text-blue-500 hover:text-blue-700 hover:text"
          href="/send-email"
        >
          <span class="text-sm font-bold text-blue-500 text-send"
            >Click to send email</span
          >
        </a>
      </div>
    </div>
  </div>
</section>
