<div class="">
  <h1>Thêm người dùng</h1>

  <form method="post">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name</label>
      <input
        type="name"
        name="name"
        class="form-control"
        id="exampleInputName"
        placeholder="Tên..."
        value="<%= req?.old?.name %>"
      />
      <%- req?.errors?.name ? `<span class="text-danger"
        >${req?.errors?.name}</span
      >`: '' %>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="text"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Email..."
        value="<%= req?.old?.email %>"
      />
      <%- req?.errors?.email ? `<span class="text-danger"
        >${req?.errors?.email}</span
      >`: '' %>
    </div>
    <div class="mb-3">
      <label for="disabledSelect" class="form-label">Status</label>
      <select id="disabledSelect" class="form-select" name="status">
        <option value="0" <%= req?.old?.status === '0' ? 'selected' : '' %>>Chưa kích hoạt</option>
        <option value="1" <%= req?.old?.status === '1' ? 'selected' : '' %>>Kích hoạt</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a href="#" class="btn btn-danger">Quay lại</a>
  </form>
</div>
